*body {
    width:auto;
    height:auto;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

.Box {
    width: 300px;
    margin:0 auto;
    height: 100%;
    padding-top: 0px;
}

#question {
    width: auto;
    background-color: #34495e;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;

}

#question h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

.topQuestions {
    font-size: medium;
    font-weight: 500;
    border-top: 1px;
    border-bottom: 1px;
    padding: 20px;

}


.answers div {
    padding: 10px 0 0 0;
    font-size: small;
}

.answers {
    padding: 0px 0 10px 0px;
}

.answers div {
    width:50%;
    margin:  0 auto;
    padding-bottom: 15px;
    border-top: 1px solid;
}

.answers div:first-child {
    border: none;
}

.checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}




